
.estimate-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100vh;
}

input[type="radio"]{
  -webkit-appearance:none;
  background:#ccc;
  width: 50%;
  height: 25%;
  cursor:pointer;
  -webkit-transition:all 500ms;
  position:relative;
  border: 5px solid white;
}

input[type="radio"]:checked{
  background:#3af;
  transform: rotateY(360deg);
}

input[type="radio"]:after{
  content:"X";
  color:#aaa;
  font-weight:bold;
  font:60px "arial black";
  display:block;
  text-shadow:#eee 0 1px 0;
  position:absolute;
  top: 30%;
  left: 45%;
  text-align: center;
}

input.zero[type="radio"]:after{
  content:"0";
}

input.half[type="radio"]:after{
  content:"1/2";
}

input.one[type="radio"]:after{
  content:"1";
}

input.two[type="radio"]:after{
  content:"2";
}

input.three[type="radio"]:after{
  content:"3";
}

input.five[type="radio"]:after{
  content:"5";
}

input.eight[type="radio"]:after{
  content:"8";
}

input.infinite[type="radio"]:after{
  content:"∞";
}

input[type="radio"]:checked:after{
  color:#fff;
  text-shadow:#07e 0 -1px 0;
}
